ul{
  list-style-type: none;
}
.darkTheme{
  background-image: url(assets/bg-desktop-dark.jpg);
  background-color: hsl(235, 21%, 11%);
  background-repeat: no-repeat;
}
.lightTheme{
  background-image: url(assets/bg-desktop-light.jpg);
  background-color: hsl(0, 0%, 98%);
  background-repeat: no-repeat;
}
.app__wrapper{
  min-height: 100vh;
}
@media only screen and (max-width: 600px){
  .darkTheme{
    background-image: url(assets/bg-mobile-dark.jpg);
  }
  .lightTheme{
    background-image: url(assets/bg-mobile-light.jpg);
  }
}